html,body{
	height: 100%;
}
h3,h4,p,h1{
	margin: 0;
	font-weight: inherit;
	color: #000000;
}
section{
	background-color: #ffffff;
}
footer{
	width: 100%;
    background-color: #000000;
    height: 270px;
}
.am-topbar-nav>li>a:after{
	content: none;
}
.am-nav>li>a:focus,
.am-nav>li>a:hover{
	text-decoration: none;
    background-color: inherit;
    color: #d89282;
}
.am-topbar .am-text-ir {
  display: block;
  height: 82px;
  width: 83px;
  background: url(../img/logo.png) no-repeat left center;
  -webkit-background-size: 83px 82px;
  background-size: 83px 82px;
}
.cm-container{
   max-width: 1440px;
}
.cm-topbar-brand{
	height: inherit;
  line-height: inherit;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  float: none;
  margin-right: 100px;
}
.cm-scrollspy-nav{
	display: inline-block;
}
.cm-topbar{
	background-color: rgba(0,0,0,0);
	border-bottom: 0;
	min-height: auto;
	padding-top: 35px;
}
.cm-topbar a{
	color: #000000;
}
.cm-nav-pills>li+li{
	margin-left: 0;
}
.cm-nav-pills>li>a{
	padding: 0px 10px;
	margin: 0px 30px;
}
.am-with-topbar-fixed-top{
	padding: 0;
}
.cm-slider-item{
	height: 100%;
	display: block;
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.cm-pagination-2{
	width: 32px;
	height: 269px;
	position: absolute;
	margin: auto;
	top: 0 !important;
	bottom: 0;
	left: 30px;
	right: auto !important;
	z-index: 1;
}
.cm-pagination-2 .swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    opacity: 1;
    position: relative;
    transition: -webkit-transform 0.5s;
}
.cm-pagination-2 .swiper-pagination-bullet{
	width: 32px;
	height: 32px;
	opacity: 1;
	position: relative;
	transition: -webkit-transform 0.5s; 
}
.cm-pagination-2 .swiper-pagination-bullet:hover{
	transform:rotateZ(360deg);
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(1){
	background: url(../img/9.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(1):hover{
	background: url(../img/9_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active{
	background: url(../img/9_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(2){
	background: url(../img/6.png) no-repeat;
	top: 40px;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(2):hover{
	background: url(../img/6_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active{
	background: url(../img/6_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(3){
	background: url(../img/3.png) no-repeat;
	top: 80px;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(3):hover{
	background: url(../img/3_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active{
	background: url(../img/3_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(4){
	background: url(../img/1.png) no-repeat;
	top: 120px;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(4):hover{
	background: url(../img/1_active.png) no-repeat;
}
.cm-pagination-2 .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active{
	background: url(../img/1_active.png) no-repeat;
}
.cm-pagination-2 .cm-pagination-bar{
	width: 32px;
	height: 50px;
	position: absolute;
	z-index: -1;
	background: url(../img/diandian.png) no-repeat center;
}
.cm-pagination-2 .cm-pagination-bar:nth-child(2){
	top:31px
}
.cm-pagination-2 .cm-pagination-bar:nth-child(3){
	top:110px
}
.cm-pagination-2 .cm-pagination-bar:nth-child(4){
	top:189px
}

.cm-content{
	width: 870px;
	height: 100%;
	margin: auto;
	background-color: #f7f4f4;
}
.cm-content1 .cm-section{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 160px;
	height: 420px;
	background-color: #dfd4ce;
}
.cm-content1 .cm-main{
	width: 870px;
	height: 100%;
	margin: auto;
	position: relative;
}
.cm-content1 .cm-info{
	position: absolute;
	left: 58px;
	top: -35px;
}
.cm-content1 .cm-object{
	position: absolute;
	right: 110px;
	top: -79px;
}
.cm-content1 .cm-btn{
	position: absolute;
	font-size: 16px;
	color: #000000;
	right: 190px;
	bottom: 20px;
	cursor:pointer;
}
.cm-pagination-1{
	bottom: 30px !important;
}
.cm-pagination-1 .swiper-pagination-bullet{
	background-color: #7b7a7a;
	opacity: 1;
	width: 6px;
	height: 6px;
}
.cm-pagination-1 .swiper-pagination-bullet-active{
	width: 30px;
	height: 6px;
	background-color: #000000;
	border-radius: 30px;
}

.cm-wrapper2{
	height: 800px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
}
.cm-content2{
	position: relative;
}
.cm-content2 .cm-info{
	position: absolute;
	top: 100px;
	right: -265px;
}
.cm-content2 .cm-object1{
	position: absolute;
	top: 50px;
	left: -232px;
}
.cm-content2 .cm-text{
	position: absolute;
	-webkit-transform: translateY(0);
	width: 388px;
	height: 423px;
	background: url(../img/slider1-3.png) no-repeat;
	background-size: contain;
	bottom: -136px;
	left: -160px;
}
.cm-content2 .cm-text-info{
	width: 185px;
	position: absolute;
	top: 34px;
	left: 34px;
}
.cm-content2 .cm-text-info h3{
	font-size: 38px;
}
.cm-content2 .cm-text-info h4{
	font-size: 28px;
	padding-bottom: 20px;
}
.cm-content2 .cm-text-info p{
	font-size: 14px;
}
.cm-content2 .cm-text-info .cm-share{
	font-size: 12px;
	margin-top: 20px;
}
.cm-content2 .cm-text-info span{
	margin-right: 10px;
}

.cm-content3{
	width: 100%;
	height: 852px;
	background: url(../img/slider2-1.png) no-repeat right;
	position: relative;
	margin-bottom: 20px;
}
.cm-content3 .cm-section{
	position: absolute;
	top: 84px;
	bottom: 97px;
	left: 0;
	right: 0;
	background-color: #b8bdb9;
}
.cm-content3 .cm-main{
	width: 1078px;
	height: 100%;
	margin: auto;
}
.cm-content3 .am-fl{
	width: 429px;
	height: 100%;
}
.cm-content3 .am-fl .cm-object{
	margin: 40px 0;
}
.cm-content3 .am-fl p{
	font-size: 14px;
	color: #646464;
	padding: 0px 35px;
}
.cm-content3 .am-fr{
	width: 487px;
	padding-top:20px;
}
.cm-content3 .am-fr h1{
	height: 72px;
	line-height: 72px;
	font-size: 36px;
	color: #FFFFFF;
}
.cm-content3 .am-fr h3{
	font-size: 16px;
	margin-top: 34px;
	color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
}
.cm-nr{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}
.cm-content3 .am-fr span{
	font-size: 72px;
	height: 72px;
	line-height: 72px;
	display: inline-block;
	padding: 0px 10px;
}
.cm-content3 .am-fr p{
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 27px;
}
.cm-content3 .am-fr .cm-btn{
	width: 201px;
	height: 48px;
	display: block;
	text-align: center;
	line-height: 48px;
	border-radius: 30px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.cm-wrapper4{
	height: 775px;
}
.cm-wrapper4 .am-fl{
	height: 100%;
	background: url(../img/slider3-1.png) no-repeat center;
	background-size: cover ;
}
.cm-wrapper4 .am-fr{
	height: 100%;
}
.cm-wrapper4 .am-form{
	width: 590px;
}
.cm-wrapper4 .am-form input{
	background-color: inherit;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
	color: #FFFFFF;
	line-height: inherit;
}
.cm-wrapper4 .am-form input:focus{
	background-color: inherit;
	border-color: rgba(255,255,255,.5);
	-webkit-box-shadow: none;
    box-shadow:none;
}
.cm-wrapper4 .cm-info{
	width: 630px;
	display: inline-block;
}
.cm-wrapper4 .cm-info h1{
	font-size: 40px;
}
.cm-wrapper4 .cm-info h3{
	font-size: 25px;
	margin-top: 35px;
}
.cm-wrapper4 .cm-info p{
	font-size: 16px;
	color: #6d6d6d;
	margin: 70px 0;
}
.cm-wrapper4 .cm-info p:last-child{
	color: #d89282;
	margin: 0;
}
.cm-form .am-form-label{
	color: #ffffff;
	font-size: 26px;
	font-weight: normal;
	padding: 0;
}
.cm-form  .am-form-group{
	margin-bottom: 50px;
}
.cm-form .cm-btn{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgba(255,255,255,.5);
	background-color: inherit;
	color: #FFFFFF;
	border-radius: 30px;
	outline: none;
	font-size: 16px;
}
.cm-wrapper5{
	width: 100%;
	height: 609px;
	background: url(../img/slider4-1.png) no-repeat;
	background-size: cover;
}
.cm-wrapper5 h1{
	font-size: 22px;
	color: #FFFFFF;
}
.cm-wrapper5 .cm-main{
	font-size: 14px;
	color: #a0a0a0;
	margin: 40px 0;
}
.cm-wrapper5 .am-g{
	width: 1038px;
	height: 373px;
	display: inline-block;
}
.cm-wrapper5 .am-padding-0{
	height: 100%;
}
.cm-fl .cm-itme{
	height: 100%;
}
.cm-fr .cm-itme{
	width: 100%;
}
.cm-content5 .cm-info{
	background-color: #ffffff;
	padding-top: 40px;
	padding-left: 24px;
	position: relative;
	text-align: left;
}
.cm-content5 .cm-info h3{
	font-size: 18px;
}
.cm-content5 .cm-info h4{
	font-size: 15px;
	margin: 15px 0;
}
.cm-content5 .cm-info p{
	font-size: 12px;
}
.cm-box-h{
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}
.cm-box-v{
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
}
.cm-box-1{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}
.cm-arrow-t:after{
	content: "";
	width: 0;
    height: 0;
    position: absolute;
    margin: auto;
	left: 0;
	right: 0;
	top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
}
.cm-arrow-b:after{
	content: "";
	width: 0;
    height: 0;
    position: absolute;
    margin: auto;
	left: 0;
	right: 0;
	bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
}
.cm-footer{
	width: 1190px;
    margin: auto;
}
.cm-faq{
	text-align: left;
	padding-top: 60px;
	height: 180px;
	background-color: #000000;
}
.cm-faq .cm-column.am-fl{
	width: 580px;
}
.cm-faq .cm-column.am-fr{
	width: 450px;
}
.cm-faq .cm-column.am-fr>.am-fl{
	width: auto;
}
.cm-faq .cm-column>.am-fl{
	width: 330px;
}
.cm-faq p{
	padding-bottom: 30px;
}
.cm-faq p span{
	color: #ffffff;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    text-align: left;
}
.cm-faq p a{
	font-size: 12px;
    color: #666665;
}
.cm-faq ul{
	list-style: none;
}
.cm-faq .cm-faq-question {
	position: relative;
	width: 330px;
}
.cm-faq .cm-faq-question:after{
	content: '';
	position: absolute;
	right: 1px;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #333333;
}
.cm-faq .cm-faq-question li{
	height: 30px;
	line-height: 30px;
	position: relative;
	padding-right: 60px;
}
.cm-faq li.cm-active a{
	color:#e2a4a4;
}
.cm-faq li.cm-active:after{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: '';
	width: 10px;
	height: 17px;
	background: url(../img/jb.png) no-repeat;
	z-index: 1;
}
.cm-faq .cm-faq-question a{
	width: 270px;
	display: inline-block;
    font-size: 14px;
    text-align: left;
    color: #666665;
    cursor: pointer;
    white-space: nowrap;
    overflow : hidden;
	text-overflow: ellipsis;
}
.cm-faq-answer{
	width: 200px;
	color: #e2a4a4;
    font-size: 14px;
    margin-top: 60px;
    
}
.cm-faq-answer li.cm-active{
	display: block;
	position: relative;
}
.cm-faq-answer li{
	display: none;
}
.cm-faq-tel{
	padding-top: 10px;
}
.cm-faq-tel,
.cm-faq-date{
	font-size: 14px;
    color: #666665;
    line-height: 14px;
    padding-bottom: 20px !important;
}
.cm-faq-number{
	font-size: 24px;
    line-height: 24px;
    color: #ffffff;
     padding-bottom: 20px !important;
}
.cm-faq-info{
	margin-top: 57px;
}
.cm-wrapper1{
	/*-webkit-transition: all 0.2s;*/
	-webkit-transform: translateY(0px);
}
